.main {
    background: #191718;
    position: absolute;
    width: 150px;
    height: 935px;

    .card {
        width: 150px;
        height: 44px;
        left: 0%;
        background: #191718;
        border: 1px solid #5C5C5C;
    
        .item  {
            margin-top: 14px;
            margin-left: 16px;
            
            .text {
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
        
}

